h3{
color: #a7c5eb;
}

h2{
color: #4a47a3;
}

hr{
    border-color: wheat;
    border-style: dotted none none;
    border-width: 5px;
    background-color: white;
    width: 5% ;
    
}
